/* ==========================================================================
FOR FOOTER PART 
========================================================================== */
footer{
	clear:both;
	font-size:0.99rem;
	color: $secondaryFontColor;	
	text-align: center;
	padding:40px 0px 10px 0px;
}